<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mo="http://schema.broadleafcommerce.org/mo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://schema.broadleafcommerce.org/mo
        http://schema.broadleafcommerce.org/mo/mo-3.0.xsd">

    <mo:override id="blMetadataOverrides">

        <!-- Apply Admin entity metadata overrides here -->

<!--        <mo:overrideItem ceilingEntity="org.broadleafcommerce.core.catalog.domain.Product">-->
<!--            <mo:field name="defaultSku.description">-->
<!--                <mo:property name="excluded" value="false" />-->
<!--            </mo:field>-->
<!--            <mo:field name="url">-->
<!--                <mo:property name="excluded" value="true" />-->
<!--            </mo:field>-->
<!--        </mo:overrideItem>-->

<!--        <mo:overrideItem ceilingEntity="org.broadleafcommerce.openadmin.server.security.domain.AdminSection">-->
<!--            <mo:field name="module">-->
<!--                <mo:property name="excluded" value="false" />-->
<!--            </mo:field>-->
<!--            <mo:field name="name">-->
<!--                <mo:property name="excluded" value="true" />-->
<!--            </mo:field>-->
<!--        </mo:overrideItem>-->

    </mo:override>

    <bean id="blMessageSourceBaseNames-custom-admin" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <value>classpath:/cmessages/CMessages-admin</value>
            </list>
        </property>
    </bean>

    <bean class="org.broadleafcommerce.common.extensibility.context.merge.LateStageMergeBeanPostProcessor">
        <property name="collectionRef" value="blMessageSourceBaseNames-custom-admin" />
        <property name="targetRef" value="blMessageSourceBaseNames" />
    </bean>

</beans>