<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- This file will contain bean overrides for extensions of Broadleaf entities -->
    <!-- For example, if you have a custom class that extends CustomerImpl, you would note that here -->

    <context:component-scan base-package="org.technohaven.core.entities" />

    <bean id="org.technohaven.core.entities.District"
          class="org.technohaven.core.entities.DistrictImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.City"
          class="org.technohaven.core.entities.CityImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Port"
          class="org.technohaven.core.entities.PortImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Transmission"
          class="org.technohaven.core.entities.TransmissionImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.FuelType"
          class="org.technohaven.core.entities.FuelTypeImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Color"
          class="org.technohaven.core.entities.ColorImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Profile"
          class="org.technohaven.core.entities.ProfileImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Showroom"
          class="org.technohaven.core.entities.ShowroomImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Brand"
          class="org.technohaven.core.entities.BrandImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.VehicleModel"
          class="org.technohaven.core.entities.ModelImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Warehouse"
          class="org.technohaven.core.entities.WarehouseImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.PkgTrim"
          class="org.technohaven.core.entities.PkgTrimImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.Vehicle"
          class="org.technohaven.core.entities.VehicleImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.AuctionGrade"
          class="org.technohaven.core.entities.AuctionGradeImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.VehicleCondition"
          class="org.technohaven.core.entities.VehicleConditionImpl" scope="prototype" />

    <bean id="org.technohaven.core.entities.EngineCapacity"
          class="org.technohaven.core.entities.EngineCapacityImpl" scope="prototype" />

    <bean id="org.broadleafcommerce.openadmin.server.security.domain.AdminSection"
          class="org.technohaven.core.entities.AdminSectionImpl2"/>

</beans>